// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.login-btns ion-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.7em;
}

.login-header {
    width: 100%;
    text-align: center;
    font-size: 7em;
    margin-top: 30%;
}

.register a {
    color: green;
    display: inline-block;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.message {
    display: inline-block;
    padding: 5px 10px;
    max-width: 80%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 1.6;
}

.message.right {
    color: black;
    margin-left: auto;
}

.msg-thumbnail {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 5px;
    float: left;
}

.msg-thumbnail img {
    width: 100%;
    border-radius: 50%;
}

.message.left {
    float: left;
}